# Ignorowanie środowiska wirtualnego
venv/

# Pliki cache Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki tymczasowe edytorów
*.swp
.DS_Store

# Możesz dodać inne pliki, które chcesz pominąć (np. wirtualne_srodowisko.txt jeśli nie jest potrzebny)





wersje_robocze_duze_pliki_nie_wypychane_do_github/
